.btn-block {
    display: block;
    width: 100%;
}

.nav-link {
    font-size: 14px;
}
.nav-link:hover {
    background-color: #f8f9fa;
    border-radius: 6px;
}
.collapse .nav-link {
    color: #555;
}
.sidebar .nav-link.active {
    color: #000000 !important;
    background-color: #65ac86 !important;
}
.sidebar.collapsed .nav-link.active,
.sidebar.collapsed .nav-link:hover {
    background-color: transparent !important;
    color: inherit !important;
}



.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar.collapsed .avatar-circle,
.sidebar.collapsed .profile-info {
    display: none !important;
}

.sidebar.collapsed .profile-card {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.sidebar.collapsed .profile-card > div {
    display: none !important;
}

.sidebar.collapsed .profile-action {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.profile-card {
    background: #f1f3f5 !important;
    border: 2px solid #dee2e6;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: all 0.2s;
}

.profile-card:hover {
    background: #f1f3f5;
    border-color: #dee2e6;
}

.avatar-circle {
    background-color: #949494;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}






/*vertivcal scrollable*/
::-webkit-scrollbar {
    width: 3px !important;
}
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}
::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 3px !important;
}
::-webkit-scrollbar-thumb:hover {
    background: #949494 !important;
}


/*horizontal scrollable*//* Make scrollbar thinner */
::-webkit-scrollbar {
  width: 3px;   /* vertical scrollbar */
  height: 3px;  /* horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
    z-index: 9991;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.card-animate {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    transition: all 0.3s ease;
}

.card-animate.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}